<span class="snipcart-summary">
    <a href="/checkout" class="snipcart-checkout">
        <i class="fa fa-shopping-cart">
            <div class="snipcart-total-items" data-item-quantity></div>
        </i>
    </a>
</span>

